@mixin display-c {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin display-lt {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
