@mixin rotate-ani($translate-x: -0.5rem, $translate-y: 0.5rem) {
  @keyframes rotate {
    from {
      opacity: 0;
      transform: translate($translate-x, $translate-y);
    }
    to {
      opacity: 1;
      transform: translate(0, 0) rotate(360deg);
    }
  }
}
